*	{
	line-height:1;
	margin: 0px;
	outline: 0px;
	padding: 0px;
}

html	{
	height: 100%;
	width: 100%;
}

body	{
	background: rgba(0,0,0,1.0);
	font-family: Arial, Helvetica, sans-serif;
	color: rgba(255,255,255,1.0);
	height: 100%;
	width: 100%;
}

a, a:active, a:visited, a:hover {
	text-decoration: none;
}

#clear {
clear: both;
}

#allprograms {
	background: url(../images/bk_hca-wom_secondlevel1b-myprog.jpg) top center no-repeat;
	width: 1280px;
	height: 720px;
	position: absolute;
}

#allprograms.aboutus {
	
}

#allprograms.relax {
	
}

#allprograms.tv {
	
}

#allprograms #banner	{
    background: url(../images/img_hca-wom_tab2.png) top left no-repeat;
	width: 510px;
	height: 127px;
	margin: 55px 0px 0px 707px;
	position: absolute;
}

#allprograms.roomservice #banner
,#allprograms.restaurants #banner
,#allprograms.shops #banner
,#allprograms.checkout #banner {
    background: url(../images/img_hca-wom_tab3.png) top left no-repeat;
}

#allprograms.housekeeping #banner
,#allprograms.healthyhabbits #banner {
    background: url(../images/img_hca-wom_tab1.png) top left no-repeat;
}

#allprograms #banner p	{
	width: 1280px;
	height: 50px;
	font-size: 28px;
	line-height: 50px;
	font-weight: 500px;
	margin: 0px 35px 0px 0px;
	color: rgba(255,255,255,1.00);
	float: right;
	position: relative;
	text-align: right;
}

#allprograms #banner p span	{
	font-size: 32px;
	color: rgba(254,242,0,1.00);
}

#allprograms #label	{
	width: 590px;
	height: 54px;
	margin: 150px 0px 0px 65px;
	float: left;
	position: absolute;
}

#allprograms #label p	{
	width: 100%;
	height: 100%;
	font-size: 29px;
	line-height: 54px;
	color: rgba(255,255,255,1.00);
	float: left;
	position: relative;
	text-align: center;
}

#allprograms #label img	{
	margin: 10px 0px 0px 0px;
	float: right;
}


#allprograms #instructions	{
	width: 525px;
	height: 77px;
	margin: 427px 0px 0px 40px;
	float: left;
	position: absolute;
}

#allprograms #instructions p	{
	width: 420px;
	height: 77px;
	font-size: 30px;
	line-height: 36px;
	font-weight: 800px;
	margin: 0px 0px 0px 35px;
	color: rgba(255,255,255,1.00);
	float: left;
	position: relative;
	text-align: left;
}

#allprograms #selections	{
	width: 590px;
	min-height: 55px;
	margin: 263px 0px 0px 65px;
	padding: 15px 0 0 0;
	float: left;
	position: absolute;
}

#allprograms #selections ul {
	list-style-type: none;
}

#allprograms #selections a	{
	width: 590px;
	height: 42px;
	font-size: 30px;
	line-height: 42px;
	padding-left: 10px;
	float: left;
	text-align: left;
	position: relative;
	color: rgba(255,255,255,1.00);
}

#allprograms #selections a.back	{
	font-size: 26px;
	margin-bottom: 5px;
	background-color: #318bc8;
}

#allprograms #selections a.active	{
    background-color: #4e9e36;
}

#allprograms.aboutus #selections a.active, #allprograms.aboutus #selections a:hover	{
	background: rgba(141,198,60,1.00);
}

#allprograms.careteam #selections a.active, #allprograms.careteam #selections a:hover	{
	background: rgba(141,198,60,1.00);
}

#allprograms.directory  #selections a.active, #allprograms.directory #selections a:hover	{
	background: rgba(141,198,60,1.00);
}

#allprograms.whattoexpect #selections a.active, #allprograms.whattoexpect #selections a:hover	{
	background: rgba(141,198,60,1.00);
}

#allprograms.patientmeals a.active, #allprograms.patientmeals #selections a:hover	,
#allprograms.visitormeals a.active, #allprograms.visitormeals #selections a:hover	,
#allprograms.eat #selections a.active, #allprograms.eat #selections a:hover	{
	background: rgba(245,128,37,1.00);
}

#allprograms #background	{
	background-position: 50% 0%; 
	background-repeat: no-repeat;
	width: 693px;
	height: 515px;
	margin: 205px 0px 0px 587px;
	float: left;
	opacity: 1.00;
	position: absolute;
}

#allprograms.aboutus #background	{
	background-image: url(../images/img_learn_aboutus.jpg); 
}

#allprograms.careteam #background	{
	background-image: url(../images/img_care_therapy.jpg); 
}

#allprograms.directory #background	{
	background-image: url(../images/img_learn_aboutus.jpg); 
}

#allprograms.whattoexpect #background	{
	background-image: url(../images/img_learn_whattoexpect.jpg); 
}

#allprograms.patientmeals #background ,
#allprograms.visitormeals #background ,
#allprograms.eat #background {
	background-image: url(../images/img_dine_patientmeals.jpg); 
}

#allprograms.relax #background	{
	background-image: url(../images/img_learn_aboutus.jpg); 
}

#allprograms.tv #background	{
	background-image: url(../images/img_learn_aboutus.jpg); 
}


#allprograms #background.textoverlay {
	opacity: 0.1; 
}

#allprograms #selection	{
	width: 880px;
	height: 500px;
	margin: 220px 0px 0px 400px;
	float: left;
	display: inline-block;
	position: absolute;
	z-index: 1;
}

#allprograms.aboutus #selection {
    background: url(../images/img_hca-wom_aboutus.png) bottom right no-repeat;
}

#allprograms.visit #selection {
    background: url(../images/img_hca-wom_visit.png) bottom right no-repeat;
}

#allprograms.roomservice #selection
,#allprograms.restaurants #selection {
    background: url(../images/img_hca-wom_dine.png) bottom right no-repeat;
}

#allprograms.shops #selection
,#allprograms.housekeeping #selection
,#allprograms.chaplaincy #selection
,#allprograms.spirit #selection {
    background: url(../images/img_hca-wom_giftshop.png) bottom right no-repeat;
}

#allprograms.healthyhabits #selection {
    background: url(../images/img_hca-wom_healthhabits.png) bottom right no-repeat;
}

#allprograms.babyphotos #selection {
    background: url(../images/img_hca-wom_photo.png) bottom right no-repeat;
}

#allprograms #selection #heading	{
	width: 625px;
	color: rgba(249,238,132,1.00);
	font-size: 30px;
	line-height: 36px;
	font-weight: 600px;
	margin: 25px 0px 0px 300px;
	float: left;
	text-align: left;
}

#allprograms #selection #body	{
	width: 625px;
	height: 100%;
	color: rgba(255,255,255,1.00);
}

#allprograms #selection #body #nextpage	{
	background-color: #ffffff;
	opacity: 0;
	position: absolute;
	z-index: 10;
	left: 90%;
	width: 10%;
	height: 100%;
	display: inherit;
	cursor: hand;
	float: right;
}

#allprograms #selection #body #prevpage	{
	background-color: #ffffff;
	opacity: 0;
	position: absolute;
	z-index: 10;
	left: 0;
	width: 10%;
	height: 100%;
	display: inherit;
	cursor: hand;
	float: right;
}

#allprograms #selection #body #nextpage:hover, #allprograms #selection #body #prevpage:hover {
	cursor: pointer;
	opacity: 0.3;
	color: blue;
}

#allprograms #selection #body p	{
	width: 625px;
	min-height: 42px;
	font-size: 30px;
	line-height: 42px;
	float: left;
	text-align: left;
	margin: 25px 25px 0px 25px;
	color: rgba(255,255,255,1.00);
	display: none;
}

#allprograms #selection #body p.active	{
	display: inherit;
}

	
#allprograms #selection #body p span	{
	color: #ffff66;
}

#allprograms #selection #body p span.rjust	{
	float: right;
	color: rgba(255,255,255,1.00);
	margin:-100px 0px 0px 0px;
	
}

#allprograms #selection #body p span.bottom	{
	float: bottom;
	color: rgba(255,255,102,1.00);
	margin: 30px 0px 0px 0px;
	
	
}

#allprograms #selection #body p span1	{
	width: 75%;
	float: left;
}

#allprograms #selection #body p span2	{
	width: 25%;
	float: right;
	text-align: right;
}

#allprograms #selection #body p.list	{
	width: 625px;
	font-size: 30px;
	line-height: 40px;
	font-weight: 600px;
	float: left;
	text-align: left;
	margin: 0px 25px 0px 25px;
	color: rgba(249,238,132,1.00);
}

#allprograms #selection #body ul	{
	width: 625px;
	font-weight: 600px;
	float: left;
	margin: 0px 25px 0px 50px;
}

#allprograms #selection #body ul li	{
	margin-left: 25px;
	font-size: 30px;
	line-height: 42px;
	text-align: left;
	color: rgba(255,255,255,1.00);
}

#allprograms #selection #body ul li span	{
	color: rgba(249,238,132,1.00);
}

#allprograms #selection #body p.clickable	{
	background: rgba(49,139,200,1.00);
	width: 300px;
	min-height: 36px;
	padding: 10px;
	font-size: 30px;
	line-height: 36px;
	font-weight: 600px;
	text-align: center;
	margin: 0px 0px 15px 25px;
	color: rgba(255,255,255,1.00);
}

#allprograms #selection #body p.middle	{
	margin-top: 200px;
}

#allprograms #selection #body p.narrow	{
	width: 500px;
	margin-right: 0px;
}

#allprograms #selection #body p.wide	{
	width: 800px;
	margin-right: 0px;
}

#allprograms #selection #body p.small	{
	font-size: 28px;
	line-height: 32px;
}

#allprograms #selection #body p.smaller	{
	font-size: 24px;
	line-height: 28px;
	font-weight: 600px;
}

#allprograms #selection #body p.larger	{
	font-size: 42px;
	line-height: 48px;
}

#allprograms #selection #body p.nomargin	{
	margin-top: 0px;
}

#allprograms #selection #body ul.topmargin,
#allprograms #selection #body p.topmargin	{
	margin-top: 40px;
}

#allprograms #selection #body p.lower	{
	margin-top: 100px;
}

#allprograms #selection #body p.botmargin	{
	margin-bottom: 25px;
}

#allprograms #selection #body p.leftmargin	{
	margin-left: 50px;
}

#allprograms #selection #body p.highlight,
#allprograms #selection #body p span.highlight	{
	color: rgba(255,255,102,1.00);
}

#allprograms #selection #body p.lightcolor,
#allprograms #selection #body p span.lightcolor	{
	color: rgba(194,214,181,1.00);
}

#allprograms #selection #body p.nocolor,
#allprograms #selection #body p span.nocolor	{
	color: rgba(255,255,255,1.00);
}

#allprograms #selection #body p.italic,
#allprograms #selection #body p span.italic	{
	font-style: italic;
}

