*	{
	line-height:1;
	margin: 0px;
	outline: 0px;
	padding: 0px;
}

html	{
	height: 100%;
	width: 100%;
}

body	{
	background: rgba(0,0,0,1.0);
	font-family: Arial, Helvetica, sans-serif;
	color: rgba(255,255,255,1.0);
	height: 100%;
	width: 100%;
}

a, a:active, a:visited, a:hover {
	text-decoration: none;
}

#clear {
clear: both;
}

#movies {
	background: url(../images/bk_hca-wom_secondlevel1b-MOVIES.jpg) top center no-repeat;
	width: 1280px;
	height: 720px;
	position: absolute;
}

#movies.about {
	background: url(../images/bk_secondlevel_care_green.jpg) top center no-repeat;
}



#movies #banner	{
	width: 510px;
	height: 127px;
	margin: 55px 0px 0px 707px;
	position: absolute;
}

#movies #banner p	{
	width: 480px;
	height: 85px;
	font-size: 28px;
	line-height: 36px;
	margin: 0;
	padding: 40px 15px 0 15px;
	color: #173453;
	float: right;
	position: relative;
	text-align: left;
}

#movies #banner p span	{
	font-size: 32px;
	color: rgba(254,242,0,1.00);
}

#movies #label	{
	width: 330px;
	height: 54px;
	margin: 150px 0px 0px 65px;
	float: left;
	position: absolute;
}

#movies #label p	{
	width: 100%;
	height: 100%;
	font-size: 29px;
	line-height: 54px;
	color: rgba(255,255,255,1.00);
	float: left;
	position: relative;
	text-align: center;
}

#movies #label img	{
	margin: 10px 0px 0px 0px;
	float: right;
}


#movies #selections	{
	width: 330px;
	min-height: 55px;
	margin: 263px 0px 0px 65px;
	padding: 15px 0 0 0;
	float: left;
	position: absolute;
}

#movies #selections ul {
	list-style-type: none;
}

#movies #selections a	{
	width: 307px;
	height: 42px;
	font-size: 32px;
	line-height: 42px;
	padding-left: 20px;
	float: left;
	text-align: left;
	position: relative;
	color: rgba(255,255,255,1.00);
}

#movies #selections a.back	{
	font-size: 26px;
	margin-bottom: 10px;
}

#movies #selections a.active, #movies #selections a:hover	{
	background: #4e9e36;
}

#movies #background	{
	background-position: 50% 0%; 
	background-repeat: no-repeat;
	width: 693px;
	height: 515px;
	margin: 205px 0px 0px 587px;
	float: left;
	opacity: 1.00;
	position: absolute;
}

#movies.about #background	{
	background-image: url(../images/img_learn_aboutus.jpg); 
}

#movies #background.textoverlay {
	opacity: 0.1; 
}

#movies #selection	{
	width: 693px;
	height: 515px;
	margin: 205px 0px 0px 587px;
	float: left;
	display: inline-block;
	position: absolute;
	z-index: 1;
}

#movies #selection #heading	{
	width: 625px;
	color: rgba(249,238,132,1.00);
	font-size: 30px;
	line-height: 36px;
	font-weight: 600px;
	margin: 25px 0px 0px 25px;
	float: left;
	text-align: left;
}

#movies #selection #body	{
	width: 625px;
	height: 100%;
	color: rgba(255,255,255,1.00);
}

#movies #selection #body #nextpage	{
	background-color: #ffffff;
	opacity: 0;
	position: absolute;
	z-index: 10;
	left: 90%;
	width: 10%;
	height: 100%;
	display: inherit;
	cursor: hand;
	float: right;
}

#movies #selection #body #prevpage	{
	background-color: #ffffff;
	opacity: 0;
	position: absolute;
	z-index: 10;
	left: 0;
	width: 10%;
	height: 100%;
	display: inherit;
	cursor: hand;
	float: right;
}

#movies #selection #body #nextpage:hover, #movies #selection #body #prevpage:hover {
	cursor: pointer;
	opacity: 0.3;
	color: blue;
}

#movies #selection #body p	{
	width: 625px;
	min-height: 42px;
	font-size: 30px;
	line-height: 42px;
	font-weight: 600px;
	float: left;
	text-align: left;
	margin: 25px 25px 0px 25px;
	color: rgba(255,255,255,1.00);
	display: none;
}

#movies #selection #body p.active	{
	display: inherit;
}
	
#movies #selection #body p span	{
	color: rgba(255,255,102,1.00);
}

#movies #selection #body p span.rjust	{
	float: right;
	color: rgba(255,255,255,1.00);
}

#movies #selection #body p.list	{
	width: 625px;
	font-size: 30px;
	line-height: 40px;
	font-weight: 600px;
	float: left;
	text-align: left;
	margin: 0px 25px 0px 25px;
	color: rgba(249,238,132,1.00);
}

#movies #selection #body ul	{
	width: 625px;
	font-weight: 600px;
	float: left;
	margin: 0px 25px 0px 50px;
}

#movies #selection #body ul li	{
	margin-left: 25px;
	font-size: 30px;
	line-height: 42px;
	text-align: left;
	color: rgba(255,255,255,1.00);
}

#movies #selection #body ul li span	{
	color: rgba(249,238,132,1.00);
}

#movies #selection #body p.clickable	{
	background: rgba(49,139,200,1.00);
	width: 300px;
	min-height: 36px;
	padding: 10px;
	font-size: 30px;
	line-height: 36px;
	font-weight: 600px;
	text-align: center;
	margin: 0px 0px 15px 25px;
	color: rgba(255,255,255,1.00);
}

#movies #selection #body p.middle	{
	margin-top: 200px;
}

#movies #selection #body p.narrow	{
	width: 500px;
	margin-right: 0px;
}

#movies #selection #body p.wide	{
	width: 800px;
	margin-right: 0px;
}

#movies #selection #body p.small	{
	font-size: 28px;
	line-height: 32px;
}

#movies #selection #body p.smaller	{
	font-size: 24px;
	line-height: 28px;
	font-weight: 600px;
}

#movies #selection #body p.larger	{
	font-size: 42px;
	line-height: 48px;
}

#movies #selection #body p.nomargin	{
	margin-top: 0px;
}

#movies #selection #body ul.topmargin,
#movies #selection #body p.topmargin	{
	margin-top: 50px;
}

#movies #selection #body p.lower	{
	margin-top: 100px;
}

#movies #selection #body p.botmargin	{
	margin-bottom: 25px;
}

#movies #selection #body p.leftmargin	{
	margin-left: 50px;
}

#movies #selection #body p.highlight,
#movies #selection #body p span.highlight	{
	color: rgba(255,255,102,1.00);
}

#movies #selection #body p.lightcolor,
#movies #selection #body p span.lightcolor	{
	color: rgba(194,214,181,1.00);
}

#movies #selection #body p.nocolor,
#movies #selection #body p span.nocolor	{
	color: rgba(255,255,255,1.00);
}

#movies #selection #body p.italic,
#movies #selection #body p span.italic	{
	font-style: italic;
}


/* carousel */



#movies #selection #body div#carousel {

	height: 467px;
	width: 858px;
	margin-left: -175px;
	margin-top: 15px;
	position: absolute;
	display: inline-block;

}


#movies #selection #body div#carousel div#carouselTitle {
	background: #4e9e36;
	height: 50px;
	width: 855px;
	position:absolute;	
	z-index: 500;
	display: none;
	padding-top: 15px;
}

#movies #selection #body div#carousel div#carouselTitle p {
	width: 100%;
	margin: 0px 0px 0px 0px;
	font-weight: bold;
	font-size: 36px;
	color: white;
	text-align: center;
}

#movies #selection #body div#carousel div#carouselOverlay {
	border: 25px solid #689142;
	height: 345px;
	width: 245px;
	margin: 0px 0px 0px 30px;	
	display: none;
	position: absolute;
	z-index: 500;
}

#movies #selection #body div#carousel div#carouselPosters {
	height: 400px;
	width: 858px;
	margin: 45px 0px 0px 0px;
	position: absolute;
	z-index: 495;
	
}

#movies #selection #body  div#carousel div#carouselPosters img {  	
	width: 33%;
	height: 1px;
	width: 1px;
	margin: 75px 0px 0px 0px;
	padding: 0px;
	float: left;
	position: relative;
	display: none;	
	padding: 25px, 25px, 25px, 25px; 
}

#movies #selection #body  div#carousel div#carouselPosters img.current { 
	background: #4e9e36;
	height: 300px; 
	width: 225px; 	
	margin: 0px 0px 0px 0px; 
	display: block; 
	padding: 50px 30px 30px 30px;
}

#movies #selection #body  div#carousel div#carouselPosters img.currentx{ 
	background: url(../images/mov_poster_BK1.png) top center no-repeat; 	
	height: 300px; 
	width: 225px; 	
	margin: 35px 15px 15px 15px; 
	display: block; 
	padding: 15px 15px 1px 15px;
}


#movies #selection #body  div#carousel div#carouselPosters img.blank { 
	background: url(../images/mov_poster_BK0.png) top center no-repeat;
}

#movies #selection #body  div#carousel div#carouselMessage {
	height: 40px;
	width: 800px;
	margin: 420px 0px 0px 0px;
	display: block;
}

#movies #selection #body  div#carousel div#carouselMessage p {
	width: 100%;
	margin: 0px auto 0px auto;
	font-weight: normal;
	font-size: 30px;
	color: white;
	text-align: center;
}




#movies #selection #body  div#carousel img.rightarrow	{
	height: 50px;
	width: 50px;
	margin: 432px 0px 0px 790px;
	position: absolute;
}

#movies #selection #body  div#carousel img.leftarrow	{
	height: 50px;
	width: 50px;
	margin: 432px 0px 0px 21px;
	position: absolute;
}



/* movies.noimages */

#movies.noimages #background {
	display: none;
}

#movies.noimages #selection #carousel a img	{
	display: none;
}

/* movies.lightdark */

#movies.lightdark {
	background: url(../images/bk2-dk_movies.jpg) top center no-repeat;
}


/* movies.darklight */

#movies.darklight {
	background: url(../images/bk3-lt_movies.jpg) top center no-repeat;
}

#movies.darklight #banner p	{
	color: rgba(68,85,95,1.00);
}

#movies.darklight #banner p span	{
	color: rgba(23,62,89,1.00);
}

#movies.darklight #label p	{
	color: rgba(68,85,95,1.00);
}

#movies.darklight #selections a	{
	color: rgba(68,85,95,1.00);
}

#movies.darklight #selections a.active	{
	background: rgba(254,255,153,1.00);
}

#movies.darklight #selection #heading,
#movies.darklight #selection #body,
#movies.darklight #selection #body p,
#movies.darklight #selection #body p span,
#movies.darklight #selection #body ul,
#movies.darklight #selection #body ul li,
#movies.darklight #selection #body ul li span	{
	color: rgba(23,62,89,1.00);
}

#movies.darklight #selection #title	{
	background: rgba(254,255,153,1.00);
	color: rgba(23,62,89,1.00);
}

#movies.darklight #selection #focus	{
	border: 8px rgba(254,255,153,1.00) solid;
	border-top: 20px rgba(254,255,153,1.00) solid;
}

#movies.darklight #selection #slider #movie	{
	color: rgba(23,62,89,1.00);
}
