*	{
	line-height:1;
	margin: 0px;
	outline: 0px;
	padding: 0px;
}

html	{
	height: 100%;
	width: 100%;
}

body	{
	background: rgba(0,0,0,1.0);
	font-family: Arial, Helvetica, sans-serif;	color: rgba(255,255,255,1.0);
	height: 100%;
	width: 100%;
}

#clear {
clear: both;
}


/* myview */

#myview {
	background: url(../images/bk_hires_spaulding_intro2.jpg) top center no-repeat;
	width: 1280px;
	height: 720px;
	position: absolute;
	display: none;
	z-index: 0;
}


#myview #heading {
	width: 400px;
	height: 40px;
	margin: 55px 0px 0px 800px;
	display: inline-block;
	position: absolute;
}

#myview #heading p {
	width: 400px;
	height: 40px;
	line-height: 40px;
	font-size: 40px;
	color: #ffff66;
	margin: 0px 0px 0px 0px;
	text-align: right;
	float: right;
	position: relative;
}

#myview #instruction {
	width: 1075px;
	margin: 150px 0px 0px 125px;
	display: inline-block;
	position: absolute;
}

#myview #instruction p {
	width: 1075px;
	min-height: 30px;
	line-height: 36px;
	font-size: 30px;
	margin: 0px 0px 0px 0px;
	text-align: left;
	float: left;
	position: relative;
}

#myview #instruction p span {
	color: rgba(255,255,102,1.0);
}

#myview #options {
	width: 900px;
	min-height: 50px;
	margin: 280px 0px 0px 175px;
	display: inline-block;
	position: absolute;
}

#myview #options a {
	background: url(../images/checkbox.png) top left no-repeat;
	width: 900px;
	height: 50px;
	font-size: 34px;
	line-height: 50px;
	margin: 0px 0px 0px 0px;
	padding-left: 75px;
	text-align: left;
	float: left;
	position: relative;
}

#myview #options a.active {
	background: #f58025 url(../images/checkbox.png) top left no-repeat;
}

#myview #options a.active.selected {
	background: #f58025 url(../images/checkedbox.png) top left no-repeat;
}

#myview #options a.selected {
	background: url(../images/checkedbox.png) top left no-repeat;
}

#myview #options p {
	width: 900px;
	height: 50px;
	line-height: 50px;
	font-size: 34px;
	color: rgba(255,255,102,1.0);
	margin: 10px 0px 0px 75px;
	text-align: left;
	float: left;
	position: relative;
}

#myview #buttons {
	width: 975px;
	height: 50px;
	margin: 635px 0px 0px 175px;
	display: inline-block;
	float: left;
	position: absolute;
}

#myview #buttons a {
	background: url(../images/btn_intro2.png) top center no-repeat;
	width: 460px;
	height: 50px;
	font-size: 32px;
	line-height: 50px;
	text-align: center;
	margin: 0px 0px 0px 0px;
	vertical-align: middle;
	float: left;
	position: relative;
}

#myview #buttons a.cancel {
	float: right;
}

#myview #buttons a.active {
	background: #f58025;
}

/* myview lightdark */

#myview.lightdark {
	background: url(../images/bk2_hires_spaulding_intro2.jpg) top center no-repeat;
}

#myview.lightdark #instruction p span {
	color: rgba(255,255,255,1.00);
}

#myview.lightdark #options a.active {
	background: rgba(0,138,175,1.00) url(../images/checkbox.png) top left no-repeat;
}

#myview.lightdark #options a.active.selected {
	background: rgba(0,138,175,1.00) url(../images/checkedbox.png) top left no-repeat;
}

#myview.lightdark #buttons a {
	background: url(../images/btn_intro3-bk2.png) top center no-repeat;
	color: rgba(255,255,153,1.00);	
}

#myview.lightdark #buttons a.active {
	background: rgba(0,138,175,1.00);
}

/* myview darklight */

#myview.darklight {
	background: url(../images/bk3_hires_spaulding_intro2.jpg) top center no-repeat;
}

#myview.darklight #heading p {
	color: rgba(0,102,153,1.00);
}

#myview.darklight #instruction p,
#myview.darklight #instruction p span {
	color: rgba(23,62,89,1.00);
}

#myview.darklight #options p {
	color: rgba(0,102,153,1.00);
}

#myview.darklight #options a {
	color: rgba(23,62,89,1.00);
}

#myview.darklight #options a.active {
	background: rgba(254,255,153,1.00) url(../images/checkbox.png) top left no-repeat;
}

#myview.darklight #options a.active.selected {
	background: rgba(254,255,153,1.00) url(../images/checkedbox.png) top left no-repeat;
}

#myview.darklight #buttons a {
	background: url(../images/btn_intro3-bk3.png) top center no-repeat;
	color: rgba(23,62,89,1.00);	
}

#myview.darklight #buttons a.active {
	background: rgba(254,255,153,1.00);
}
