*	{
	line-height:1;
	margin: 0px;
	outline: 0px;
	padding: 0px;
}

html	{
	height: 100%;
	width: 100%;
}

body	{
	background: rgba(0,0,0,1.0);
	font-family: Arial, Helvetica, sans-serif;
	color: rgba(255,255,255,1.0);
	height: 100%;
	width: 100%;
}

a, a:active, a:visited, a:hover {
	text-decoration: none;
}

#clear {
clear: both;
}

#tertiary {
	background: url(../images/bk2-dk_secondlevel.jpg) top center no-repeat;
	width: 1280px;
	height: 720px;
	position: absolute;
}

#tertiary.about {
	background: url(../images/bk_secondlevel_care_green.jpg) top center no-repeat;
}

#tertiary.aboutus {
	background: url(../images/bk_secondlevel_care_green.jpg) top center no-repeat;
}

#tertiary.therapy,
#tertiary.spiritualcare,
#tertiary.nursing,
#tertiary.mission {
	background: url(../images/bk_secondlevel_care_green.jpg) top center no-repeat;
}

#tertiary.careteam {
	background: url(../images/bk_secondlevel_care_green.jpg) top center no-repeat;
}

#tertiary.eat {
	background: url(../images/bk_secondlevel_eat_orange.jpg) top center no-repeat;
}

#tertiary.relax {
	background: url(../images/bk_secondlevel_relax_yellow.jpg) top center no-repeat;
}

#tertiary.tv {
	background: url(../images/bk_secondlevel_tv_purple.jpg) top center no-repeat;
}

#tertiary #banner	{
	width: 1280px;
	height: 100px;
	margin: 65px 0px 0px 0px;
	position: absolute;
}

#tertiary #banner p	{
	width: 1200px;
	height: 50px;
	font-size: 28px;
	line-height: 50px;
	font-weight: 500px;
	margin: 0px 35px 0px 0px;
	color: rgba(255,255,255,1.00);
	float: right;
	position: relative;
	text-align: right;
}

#tertiary #banner p span	{
	font-size: 32px;
	color: rgba(254,242,0,1.00);
}

#tertiary #label	{
	width: 525px;
	height: 77px;
	margin: 127px 0px 0px 40px;
	float: left;
	position: absolute;
}

#tertiary #label p	{
	width: 420px;
	height: 77px;
	font-size: 44px;
	line-height: 77px;
	font-weight: 800px;
	margin: 0px 0px 0px 35px;
	color: rgba(255,255,255,1.00);
	float: left;
	position: relative;
	text-align: left;
}

#tertiary #label img	{
	margin: 10px 0px 0px 0px;
	float: right;
}


#tertiary #selections	{
	width: 548px;
	min-height: 60px;
	margin: 230px 0px 0px 40px;
	float: left;
	position: absolute;
}

#tertiary #selections ul {
	list-style-type: none;
}

#tertiary #selections a	{
	width: 513px;
	height: 60px;
	font-size: 40px;
	line-height: 60px;
	font-weight: 600px;
	padding-left: 35px;
	float: left;
	text-align: left;
	position: relative;
	color: rgba(255,255,255,1.00);
}

#tertiary #selections a.back	{
	font-size: 30px;
	margin-bottom: 10px;
}

#tertiary.therapy #selections a.active, #tertiary.therapy #selections a:hover,
#tertiary.spiritualcare #selections a.active, #tertiary.spiritualcare #selections a:hover,
#tertiary.nursing #selections a.active, #tertiary.nursing #selections a:hover,
#tertiary.mission #selections a.active, #tertiary.mission #selections a:hover,
#tertiary.aboutus #selections a.active, #tertiary.aboutus #selections a:hover,
#tertiary.about #selections a.active, #tertiary.about #selections a:hover	{
	background: rgba(141,198,60,1.00);
}

#tertiary.careteam #selections a.active, #tertiary.careteam #selections a:hover	{
	background: rgba(141,198,60,1.00);
}


#tertiary.eat #selections a.active, #tertiary.eat #selections a:hover	{
	background: rgba(245,128,37,1.00);
}

#tertiary #background	{
	background-image: url(../images/img_learn_aboutus.jpg); 
	background-position: 50% 0%; 
	background-repeat: no-repeat;
	width: 693px;
	height: 515px;
	margin: 205px 0px 0px 587px;
	float: left;
	opacity: 1.00;
	position: absolute;
}

#tertiary.careteam #background	{
	background-image: url(../images/img_care_therapy.jpg); 
}

#tertiary.aboutus #background	{
	background-image: url(../images/img_care_myprog.jpg); 
}

#tertiary.mission #background	{
	background-image: url(../images/img_learn_aboutus.jpg); 
}

#tertiary.nursing #background	{
	background-image: url(../images/img_care_myprog.jpg); 
}

#tertiary.spiritualcare #background {
	background-image: url(../images/img_care_spirit.jpg); 
}

#tertiary.therapy #background {
	background-image: url(../images/img_care_therapy.jpg); 
}

#tertiary #background.textoverlay {
	opacity: 0.1; 
}

#tertiary #selection	{
	width: 693px;
	height: 515px;
	margin: 205px 0px 0px 587px;
	float: left;
	display: inline-block;
	position: absolute;
	z-index: 1;
}

#tertiary #selection #heading	{
	width: 625px;
	color: rgba(249,238,132,1.00);
	font-size: 30px;
	line-height: 36px;
	font-weight: 600px;
	margin: 25px 0px 0px 25px;
	float: left;
	text-align: left;
}

#tertiary #selection #body	{
	width: 625px;
	height: 100%;
	color: rgba(255,255,255,1.00);
}

#tertiary #selection #body #nextpage	{
	background-color: #ffffff;
	opacity: 0;
	position: absolute;
	z-index: 10;
	left: 90%;
	width: 10%;
	height: 100%;
	display: inherit;
	cursor: hand;
	float: right;
}

#tertiary #selection #body #prevpage	{
	background-color: #ffffff;
	opacity: 0;
	position: absolute;
	z-index: 10;
	left: 0;
	width: 10%;
	height: 100%;
	display: inherit;
	cursor: hand;
	float: right;
}

#tertiary #selection #body #nextpage:hover, #tertiary #selection #body #prevpage:hover {
	cursor: pointer;
	opacity: 0.3;
	color: blue;
}

#tertiary #selection #body p	{
	width: 625px;
	min-height: 42px;
	font-size: 30px;
	line-height: 42px;
	font-weight: 600px;
	float: left;
	text-align: left;
	margin: 25px 25px 0px 25px;
	color: rgba(255,255,255,1.00);
	display: none;
}

#tertiary #selection #body p.active	{
	display: inherit;
}
	
#tertiary #selection #body p span	{
	color: rgba(255,255,102,1.00);
}

#tertiary #selection #body p span.rjust	{
	float: right;
	color: rgba(255,255,255,1.00);
}

#tertiary #selection #body p.list	{
	width: 625px;
	font-size: 30px;
	line-height: 40px;
	font-weight: 600px;
	float: left;
	text-align: left;
	margin: 0px 25px 0px 25px;
	color: rgba(249,238,132,1.00);
}

#tertiary #selection #body ul	{
	width: 625px;
	font-weight: 600px;
	float: left;
	margin: 0px 25px 0px 50px;
}

#tertiary #selection #body ul li	{
	margin-left: 25px;
	font-size: 30px;
	line-height: 42px;
	text-align: left;
	color: rgba(255,255,255,1.00);
}

#tertiary #selection #body ul li span	{
	color: rgba(249,238,132,1.00);
}

#tertiary #selection #body p.clickable	{
	background: rgba(49,139,200,1.00);
	width: 300px;
	min-height: 36px;
	padding: 10px;
	font-size: 30px;
	line-height: 36px;
	font-weight: 600px;
	text-align: center;
	margin: 0px 0px 15px 25px;
	color: rgba(255,255,255,1.00);
}

#tertiary #selection #body p.middle	{
	margin-top: 200px;
}

#tertiary #selection #body p.narrow	{
	width: 500px;
	margin-right: 0px;
}

#tertiary #selection #body p.wide	{
	width: 800px;
	margin-right: 0px;
}

#tertiary #selection #body p.small	{
	font-size: 28px;
	line-height: 32px;
}

#tertiary #selection #body p.smaller	{
	font-size: 24px;
	line-height: 28px;
	font-weight: 600px;
}

#tertiary #selection #body p.larger	{
	font-size: 42px;
	line-height: 48px;
}

#tertiary #selection #body p.nomargin	{
	margin-top: 0px;
}

#tertiary #selection #body ul.topmargin,
#tertiary #selection #body p.topmargin	{
	margin-top: 50px;
}

#tertiary #selection #body p.lower	{
	margin-top: 100px;
}

#tertiary #selection #body p.botmargin	{
	margin-bottom: 25px;
}

#tertiary #selection #body p.leftmargin	{
	margin-left: 50px;
}

#tertiary #selection #body p.highlight,
#tertiary #selection #body p span.highlight	{
	color: rgba(255,255,102,1.00);
}

#tertiary #selection #body p.lightcolor,
#tertiary #selection #body p span.lightcolor	{
	color: rgba(194,214,181,1.00);
}

#tertiary #selection #body p.nocolor,
#tertiary #selection #body p span.nocolor	{
	color: rgba(255,255,255,1.00);
}

#tertiary #selection #body p.italic,
#tertiary #selection #body p span.italic	{
	font-style: italic;
}


/* tertiary.noimages */

#tertiary.noimages #background {
	display: none;
}

/* tertiary.lightdark */

#tertiary.lightdark {
	background: url(../images/bk2-dk_secondlevel.jpg) top center no-repeat;
}

#tertiary.lightdark #selections a.active	{
	background: rgba(0,138,175,1.00);
}

/* tertiary.darklight */

#tertiary.darklight {
	background: url(../images/bk3-lt_secondlevel.jpg) top center no-repeat;
}

#tertiary.darklight #banner p	{
	color: rgba(68,85,95,1.00);
}

#tertiary.darklight #banner p span	{
	color: rgba(23,62,89,1.00);
}

#tertiary.darklight #label p	{
	color: rgba(68,85,95,1.00);
}

#tertiary.darklight #selections a	{
	color: rgba(68,85,95,1.00);
}

#tertiary.darklight #selections a.active	{
	background: rgba(254,255,153,1.00);
}

#tertiary.darklight #selection body p,
#tertiary.darklight #selection body p span	{
	color: rgba(23,62,89,1.00);
}

#tertiary.darklight #selection #heading,
#tertiary.darklight #selection #body,
#tertiary.darklight #selection #body p,
#tertiary.darklight #selection #body p span,
#tertiary.darklight #selection #body ul,
#tertiary.darklight #selection #body ul li,
#tertiary.darklight #selection #body ul li span	{
	color: rgba(23,62,89,1.00);
}
