*	{
	line-height:1;
	margin: 0px;
	outline: 0px;
	padding: 0px;
}

html	{
	height: 100%;
	width: 100%;
}

body	{
	background: rgba(0,0,0,1.0);
	font-family: Arial, Helvetica, sans-serif;
	color: rgba(255,255,255,1.0);
	height: 100%;
	width: 100%;
}

a, a:active, a:visited, a:hover {
	text-decoration: none;
}

#clear {
clear: both;
}

#watchvideo {
	background: url(../images/bk_hca-wom_secondlevel1b.jpg) top center no-repeat;
	width: 1280px;
	height: 720px;
	position: absolute;
}

#watchvideo.aboutus {
	
}

#watchvideo.relax {
	
}

#watchvideo.tv {
	
}

#watchvideo #banner	{
    background: url(../images/img_hca-wom_tab2.png) top left no-repeat;
	width: 510px;
	height: 127px;
	margin: 55px 0px 0px 707px;
	position: absolute;
}

#watchvideo.roomservice #banner
,#watchvideo.restaurants #banner
,#watchvideo.shops #banner
,#watchvideo.checkout #banner {
    background: url(../images/img_hca-wom_tab3.png) top left no-repeat;
}

#watchvideo.housekeeping #banner
,#watchvideo.healthyhabbits #banner {
    background: url(../images/img_hca-wom_tab1.png) top left no-repeat;
}

#watchvideo #banner p	{
	width: 1280px;
	height: 50px;
	font-size: 28px;
	line-height: 50px;
	font-weight: 500px;
	margin: 0px 35px 0px 0px;
	color: rgba(255,255,255,1.00);
	float: right;
	position: relative;
	text-align: right;
}

#watchvideo #banner p span	{
	font-size: 32px;
	color: rgba(254,242,0,1.00);
}

#watchvideo #label	{
	width: 330px;
	height: 54px;
	margin: 150px 0px 0px 65px;
	float: left;
	position: absolute;
}

#watchvideo #label p	{
	width: 100%;
	height: 100%;
	font-size: 29px;
	line-height: 54px;
	color: rgba(255,255,255,1.00);
	float: left;
	position: relative;
	text-align: center;
}

#watchvideo #label img	{
	margin: 10px 0px 0px 0px;
	float: right;
}


#watchvideo #instructions	{
	width: 525px;
	height: 77px;
	margin: 427px 0px 0px 40px;
	float: left;
	position: absolute;
}

#watchvideo #instructions p	{
	width: 420px;
	height: 77px;
	font-size: 30px;
	line-height: 36px;
	font-weight: 800px;
	margin: 0px 0px 0px 35px;
	color: rgba(255,255,255,1.00);
	float: left;
	position: relative;
	text-align: left;
}

#watchvideo #title	{
	width: 320px;
	min-height: 60px;
	margin: 260px 0px 0px 75px;
	font-size: 32px;
	line-height: 50px;
	font-weight: 500px;

	float: left;
	position: absolute;
}

#watchvideo #duration	{
	width: 320px;
	min-height: 60px;
	margin: 350px 0px 0px 75px;
	font-size: 30px;
	line-height: 50px;
	font-weight: 500px;
	padding-bottom: 150px;
	float: left;
	position: absolute;
}

#watchvideo #selections	{
	width: 330px;
	min-height: 55px;
	margin: 425px 0px 0px 65px;
	padding: 15px 0 0 0;
	float: left;
	position: absolute;
}

#watchvideo #selections ul {
	list-style-type: none;
}

#watchvideo #selections a	{
	width: 317px;
	height: 42px;
	font-size: 30px;
	line-height: 42px;
	padding-left: 10px;
	float: left;
	text-align: left;
	position: relative;
	color: rgba(255,255,255,1.00);
}

#watchvideo #selections a.remove,
#watchvideo #selections a.bookmark,
#watchvideo #selections a.play,
#watchvideo #selections a.back	{
	font-size: 30px;
	margin-bottom: 5px;
	margin-top: 20px;
	background-color: #318bc8;
	text-align: center;
}

#watchvideo #selections a.active	{
    background-color: #4e9e36;
}

#watchvideo.aboutus #selections a.active, #watchvideo.aboutus #selections a:hover	{
	background: rgba(141,198,60,1.00);
}

#watchvideo.careteam #selections a.active, #watchvideo.careteam #selections a:hover	{
	background: rgba(141,198,60,1.00);
}

#watchvideo.directory  #selections a.active, #watchvideo.directory #selections a:hover	{
	background: rgba(141,198,60,1.00);
}

#watchvideo.whattoexpect #selections a.active, #watchvideo.whattoexpect #selections a:hover	{
	background: rgba(141,198,60,1.00);
}

#watchvideo.patientmeals a.active, #watchvideo.patientmeals #selections a:hover	,
#watchvideo.visitormeals a.active, #watchvideo.visitormeals #selections a:hover	,
#watchvideo.eat #selections a.active, #watchvideo.eat #selections a:hover	{
	background: rgba(245,128,37,1.00);
}

#watchvideo #background	{
	background-position: 50% 0%; 
	background-repeat: no-repeat;
	width: 693px;
	height: 515px;
	margin: 205px 0px 0px 587px;
	float: left;
	opacity: 1.00;
	position: absolute;
}

#watchvideo.aboutus #background	{
	background-image: url(../images/img_learn_aboutus.jpg); 
}

#watchvideo.careteam #background	{
	background-image: url(../images/img_care_therapy.jpg); 
}

#watchvideo.directory #background	{
	background-image: url(../images/img_learn_aboutus.jpg); 
}

#watchvideo.whattoexpect #background	{
	background-image: url(../images/img_learn_whattoexpect.jpg); 
}

#watchvideo.patientmeals #background ,
#watchvideo.visitormeals #background ,
#watchvideo.eat #background {
	background-image: url(../images/img_dine_patientmeals.jpg); 
}

#watchvideo.relax #background	{
	background-image: url(../images/img_learn_aboutus.jpg); 
}

#watchvideo.tv #background	{
	background-image: url(../images/img_learn_aboutus.jpg); 
}


#watchvideo #background.textoverlay {
	opacity: 0.1; 
}

#watchvideo #selection	{
	width: 880px;
	height: 500px;
	margin: 220px 0px 0px 400px;
	float: left;
	display: inline-block;
	position: absolute;
	z-index: 1;
}

#watchvideo.allprogramsvideo #selection {
    background: url(../images/poster_myprograms.jpg) bottom right no-repeat;
}

#watchvideo.visit #selection {
    background: url(../images/img_hca-wom_visit.png) bottom right no-repeat;
}

#watchvideo.roomservice #selection
,#watchvideo.restaurants #selection {
    background: url(../images/img_hca-wom_dine.png) bottom right no-repeat;
}

#watchvideo.shops #selection
,#watchvideo.housekeeping #selection
,#watchvideo.chaplaincy #selection
,#watchvideo.spirit #selection {
    background: url(../images/img_hca-wom_giftshop.png) bottom right no-repeat;
}

#watchvideo.healthyhabits #selection {
    background: url(../images/img_hca-wom_healthhabits.png) bottom right no-repeat;
}

#watchvideo.babyphotos #selection {
    background: url(../images/img_hca-wom_photo.png) bottom right no-repeat;
}

#watchvideo #selection #heading	{
	width: 625px;
	color: rgba(249,238,132,1.00);
	font-size: 30px;
	line-height: 36px;
	font-weight: 600px;
	margin: 25px 0px 0px 25px;
	float: left;
	text-align: left;
}

#watchvideo #selection #body	{
	width: 725px;
	height: 100%;
	color: rgba(255,255,255,1.00);
}

#watchvideo #selection #body #nextpage	{
	background-color: #ffffff;
	opacity: 0;
	position: absolute;
	z-index: 10;
	left: 90%;
	width: 10%;
	height: 100%;
	display: inherit;
	cursor: hand;
	float: right;
}

#watchvideo #selection #body #prevpage	{
	background-color: #ffffff;
	opacity: 0;
	position: absolute;
	z-index: 10;
	left: 0;
	width: 10%;
	height: 100%;
	display: inherit;
	cursor: hand;
	float: right;
}

#watchvideo #selection #body #nextpage:hover, #watchvideo #selection #body #prevpage:hover {
	cursor: pointer;
	opacity: 0.3;
	color: blue;
}

#watchvideo #selection #body p	{
	width: 725px;
	min-height: 42px;
	font-size: 30px;
	line-height: 42px;
	float: left;
	text-align: left;
	margin: 25px 25px 0px 25px;
	color: rgba(255,255,255,1.00);
	display: none;
}

#watchvideo #selection #body p.active	{
	display: inherit;
}

	
#watchvideo #selection #body p span	{
	color: #ffff66;
}

#watchvideo #selection #body p span.rjust	{
	float: right;
	color: rgba(255,255,255,1.00);
	margin:-100px 0px 0px 0px;
	
}

#watchvideo #selection #body p span.bottom	{
	float: bottom;
	color: rgba(255,255,102,1.00);
	margin: 30px 0px 0px 0px;
	
	
}

#watchvideo #selection #body p span1	{
	width: 75%;
	float: left;
}

#watchvideo #selection #body p span2	{
	width: 25%;
	float: right;
	text-align: right;
}

#watchvideo #selection #body p.list	{
	width: 725px;
	font-size: 30px;
	line-height: 40px;
	font-weight: 600px;
	float: left;
	text-align: left;
	margin: 0px 25px 0px 25px;
	color: rgba(249,238,132,1.00);
}

#watchvideo #selection #body ul	{
	width: 625px;
	font-weight: 600px;
	float: left;
	margin: 0px 25px 0px 50px;
}

#watchvideo #selection #body ul li	{
	margin-left: 25px;
	font-size: 30px;
	line-height: 42px;
	text-align: left;
	color: rgba(255,255,255,1.00);
}

#watchvideo #selection #body ul li span	{
	color: rgba(249,238,132,1.00);
}

#watchvideo #selection #body p.clickable	{
	background: rgba(49,139,200,1.00);
	width: 300px;
	min-height: 36px;
	padding: 10px;
	font-size: 30px;
	line-height: 36px;
	font-weight: 600px;
	text-align: center;
	margin: 0px 0px 15px 25px;
	color: rgba(255,255,255,1.00);
}

#watchvideo #selection #body p.middle	{
	margin-top: 200px;
}

#watchvideo #selection #body p.narrow	{
	width: 500px;
	margin-right: 0px;
}

#watchvideo #selection #body p.wide	{
	width: 800px;
	margin-right: 0px;
}

#watchvideo #selection #body p.small	{
	font-size: 28px;
	line-height: 32px;
}

#watchvideo #selection #body p.smaller	{
	font-size: 24px;
	line-height: 28px;
	font-weight: 600px;
}

#watchvideo #selection #body p.larger	{
	font-size: 42px;
	line-height: 48px;
}

#watchvideo #selection #body p.nomargin	{
	margin-top: 0px;
}

#watchvideo #selection #body ul.topmargin,
#watchvideo #selection #body p.topmargin	{
	margin-top: 40px;
}

#watchvideo #selection #body p.lower	{
	margin-top: 100px;
}

#watchvideo #selection #body p.botmargin	{
	margin-bottom: 25px;
}

#watchvideo #selection #body p.leftmargin	{
	margin-left: 50px;
}

#watchvideo #selection #body p.highlight,
#watchvideo #selection #body p span.highlight	{
	color: rgba(255,255,102,1.00);
}

#watchvideo #selection #body p.lightcolor,
#watchvideo #selection #body p span.lightcolor	{
	color: rgba(194,214,181,1.00);
}

#watchvideo #selection #body p.nocolor,
#watchvideo #selection #body p span.nocolor	{
	color: rgba(255,255,255,1.00);
}

#watchvideo #selection #body p.italic,
#watchvideo #selection #body p span.italic	{
	font-style: italic;
}

/* watchvideo.noimages */

#watchvideo.noimages #background {
	display: none;
}

#watchvideo.noimages #selection #carousel a img	{
	display: none;
}

/* watchvideo.lightdark */

#watchvideo.lightdark {
	background: url(../images/bk2-dk_secondlevel.jpg) top center no-repeat;
}

#watchvideo.tv.lightdark {
	background: url(../images/bk2-dk_movies.jpg) top center no-repeat;
}

#watchvideo.lightdark #selections a.active	{
	background: rgba(0,138,175,1.00);
}

/* watchvideo.darklight */

#watchvideo.darklight {
	background: url(../images/bk3-lt_secondlevel.jpg) top center no-repeat;
}

#watchvideo.tv.darklight {
	background: url(../images/bk3-lt_movies.jpg) top center no-repeat;
}

#watchvideo.darklight #banner p	{
	color: rgba(68,85,95,1.00);
}

#watchvideo.darklight #banner p span	{
	color: rgba(23,62,89,1.00);
}

#watchvideo.darklight #label p	{
	color: rgba(68,85,95,1.00);
}

#watchvideo.darklight #selections a	{
	color: rgba(68,85,95,1.00);
}

#watchvideo.darklight #selections a.active	{
	background: rgba(254,255,153,1.00);
}

#watchvideo.darklight #selection #heading,
#watchvideo.darklight #selection #body,
#watchvideo.darklight #selection #body p,
#watchvideo.darklight #selection #body p span,
#watchvideo.darklight #selection #body ul,
#watchvideo.darklight #selection #body ul li,
#watchvideo.darklight #selection #body ul li span	{
	color: rgba(23,62,89,1.00);
}

#watchvideo.darklight #selection #title	{
	background: rgba(254,255,153,1.00);
	color: rgba(23,62,89,1.00);
}

#watchvideo.darklight #selection #focus	{
	border: 8px rgba(254,255,153,1.00) solid;
	border-top: 20px rgba(254,255,153,1.00) solid;
}

#watchvideo.darklight #selection #slider #movie	{
	color: rgba(23,62,89,1.00);
}
